body{
    margin:0;
    padding: 0;
    background-color: #4d4d4d;
    color: #fff;
}

.container{
  margin: 0 auto;
  text-align: center;
}

h2{
    background-color: #666666;
    color: #fff;
    margin: 0;
    padding: 20px 0;
}

.instruction{
    background-color: #666666;
    margin: 0;
    padding: 15px;
    display: inline-block;
}

#seconds{
    font-size: 1.4rem;
    color: yellow;
}

.gameover {
    color: rgb(242, 153, 153);
}

